<?xml version="1.0" encoding="UTF-8"?>
<suite thread-count="3" parallel="methods" name="Suite">
  <test thread-count="3" parallel="methods" name="Test">
  <groups>
      <run>
       
        <include name="smoke"/>
        
        <!-- <exclude name="regression"/> -->
      </run>
    </groups>
   
    <classes>
   
    
      <class name="com.skitech.testCases.ManagQPGStudProfTestCase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
